* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $font-primary-color;
  font-family: $font-primary;
}

button {
  border: 0;
  cursor: pointer;
  font-family: $font-primary;

  &:focus {
    outline: none;
  }
}

form {
  input {
    font-family: $font-primary;

    &:focus {
      outline: none;
    }
  }
}

h2 {
  font-size: 22px;
  line-height: 28px;
  color: $color-primary;

  @include breakpoint($sm) {
    font-size: 26px;
    line-height: 34px;
  }

  @include breakpoint($lg) {
    font-size: 30px;
    line-height: 38px;
  }
}
