.session {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;

  &__group {
    margin-bottom: 20px;

    @include breakpoint($md) {
      padding: 0 20px;
      width: 50%;
    }

    .group__title {
      margin-bottom: 20px;
    }
  }

  &__name {
    padding: 0 10px 0 0;

    p {
      display: flex;
    }

    .icon {
      color: #c56cf0;
      position: relative;
      top: 5px;
      margin-right: 10px;
    }
  }

  &__duration {
    display: none;
  }
}
