.whatsapp-cta {
  position: fixed;
  bottom: 100px;
  right: 20px;
  cursor: pointer;

  a {
    text-decoration: none;
  }

  .icon {
    background: rgb(35, 191, 35);
    color: $color-white;
    font-size: 60px;
    border-radius: 50%;
  }

  &__mobile {
    @include breakpoint($md) {
      display: none;
    }
  }

  &__desktop {
    display: none;

    @include breakpoint($md) {
      display: block;
    }
  }
}
